<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>KNU Judge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <style>
            div.title {
                position: relative;
                width: 800px;
                height: 60px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                top: 210px;
                /* background-color: blue; */
            }
            .title-text {
                width: 50px;
                height: 30px;
                display: inline;
                position: relative;
                font-weight: bold;
                font-size: 50px;
                color: white;
                top: -10px;
            }
            .bounce-red {animation: red_ 1s linear infinite alternate;}
            #N {animation-delay: 0.1s;}
            #U {animation-delay: 0.2s;}
            @keyframes red_ {
                from {color: white;}
                to { color: red;}
            }
            .btn-down {
                width: 300px;
                height: 80px;
                position: relative;
                top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
            .btn-down a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                color: white;
                position: relative;
                background-color: darkgoldenrod;
                padding: 10px 20px 10px 20px;
                border-radius: 10px 10px 10px 10px;
            }
            .btn-down a:hover {
                background-color: white;
                color: darkgoldenrod;
            }
            #section2 {
                background-color: darkgoldenrod;
            }
            .sec2_title {
                width: 1400px;
                margin-right: auto;
                margin-left: auto;
                font-size: 50px;
                color: white;
                text-align: center;
                font-weight: bold;
                position: relative;
                top: 60px;
                color: white;
            }
            .members {
                width: 1400px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 200px;
                /* background-color: red; */
            }      
            .member {
                width: 300px;
                height: 400px;
                background-color: #212529;
                position: relative;
                border-radius: 50px;
                /* opacity: 0.9; */
                display: inline-block;
                /* transition: top; */
                /* transition-duration: 2s; */
            }
            .member:hover {
                animation: show-mem 0.5s ease-out 1 alternate;
                top: -20px;
                background-image: url("../public/assets/images/apple.jpg");
            }
            @keyframes show-mem {
                from { top: 0px}
                to {top: -20px}
            }
            #mem2 {
                left: 60px;
            }
            #mem3 {
                left: 120px;
            }
            #mem4 {
                float: right;
            }
            .mem_text {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                color: white;
                text-decoration: none;
                position: relative;
                top: 180px;
            }
            * {margin:0;padding:0;box-sizing:border-box;}
            ul, li {list-style:none;}

            [name="slide"] {display:none;}
            .slidebox {
                /* max-width: 1400px; */
                width: 1200px;
                max-height: 100%;
                margin: 40px auto;
                text-align:center;
            }
            .slidebox img {max-width: 100%; width: 100%;}
            .slidebox .slidelist {
                white-space:nowrap;
                font-size:0;
                overflow:hidden;
            }
            .slidebox .slideitem {
                position:relative;
                display:inline-block;
                vertical-align:middle;
                width:100%;
                transition:all .35s;
            }
            /* .slidebox .slideitem label {
                position:absolute;
                z-index:1;
                top:50%;
                transform:translateY(-50%);
                padding:20px;
                border-radius:50%;
                cursor:pointer;
            } */
            /* label.left {
                left:20px;
                background-color:#5F5F5F;
                background-image:url('../public/assets/images/left-arrow.png');
                background-position:center center;
                background-size:50%;
                background-repeat:no-repeat;
            }
            label.right {
                right:20px;
                background-color:#5F5F5F;
                background-image:url('../public/assets/images/right-arrow.png');
                background-position:center center;
                background-size:50%;
                background-repeat:no-repeat;
            } */

            /* 페이징 스타일 */
            /* .paginglist {text-align:center;padding:30px 0;}
            .paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
            .paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
            .paginglist > li:hover > label {background:#333;} */

            [id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 20s infinite;}
            [id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 20s infinite;}
            [id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 20s infinite;}
            [id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 20s infinite;}

            @keyframes slide01 {
                0% {left:0%;}
                /* 23% {left:0%;}
                25% {left:-100%;}
                48% {left:-100%;} */
                50% {left:-200%;}
                /* 73% {left:-200%;}
                75% {left:-300%;}
                98% {left:-300%;} */
                100% {left:0%;}
            }
            @keyframes slide02 {
                0% {left:0%;}
                23% {left:0%;}
                25% {left:-100%;}
                48% {left:-100%;}
                50% {left:-200%;}
                73% {left:-200%;}
                75% {left:100%;}
                98% {left:100%;}
                100% {left:0%;}
            }
            @keyframes slide03 {
                0% {left:0%;}
                23% {left:0%;}
                25% {left:-100%;}
                48% {left:-100%;}
                50% {left:200%;}
                73% {left:200%;}
                75% {left:100%;}
                98% {left:100%;}
                100% {left:0%;}
            }
            @keyframes slide04 {
                0% {left:0%;}
                23% {left:0%;}
                25% {left:300%;}
                48% {left:300%;}
                50% {left:200%;}
                73% {left:200%;}
                75% {left:100%;}
                98% {left:100%;}
                100% {left:0%;}
            }   
            #about {
                color: white;
                font-weight: 400;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); -%>

        <!-- section1-->
        <section class="bg-dark div-section">
            <div class="text-center title">
               <div class="title-text bounce-red">K</div><div class="title-text bounce-red" id="N">N</div><div class="title-text bounce-red" id="U">U</div><div class="title-text bounce-red"> </div>
               <div class="title-text"> Online Judge</div>
                
            </div>
            <div class="text-center title">
                <div class="btn-down"><a href="#section2">about "Oh!"</a></div>
             </div>

        </section>
        <!-- section2-->
        <section class="div-section" id="section2">
            <div class="sec2_title">Hover Us!</div>
            <div class="members">
                <div class="member" id="mem1"><p class="mem_text">MEMBER1</p></div>
                <div class="member" id="mem2"><p class="mem_text">MEMBER2</p></div>
                <div class="member" id="mem3"><p class="mem_text">MEMBER3</p></div>
                <div class="member" id="mem4"><p class="mem_text">MEMBER4</p></div>
            </div>
        </section>
        <!-- section3-->
        <section class="div-section">
            <div class="slidebox">
                <input type="radio" name="slide" id="slide01" checked>
                <input type="radio" name="slide" id="slide02">
                <input type="radio" name="slide" id="slide03">
                <input type="radio" name="slide" id="slide04">
                <ul class="slidelist">
                    <li class="slideitem">
                        <div>
                            <!-- <label for="slide04" class="left"></label> -->
                            <!-- <label for="slide02" class="right"></label> -->
                            <a><img src="/assets/images/test.jpg"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <!-- <label for="slide01" class="left"></label> -->
                            <!-- <label for="slide03" class="right"></label> -->
                            <a><img src="/assets/images/test.jpg"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <!-- <label for="slide02" class="left"></label> -->
                            <!-- <label for="slide04" class="right"></label> -->
                            <a><img src="/assets/images/test.jpg"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <!-- <label for="slide03" class="left"></label> -->
                            <!-- <label for="slide01" class="right"></label> -->
                            <a><img src="/assets/images/test.jpg"></a>
                        </div>
                    </li>
                </ul>
        </section>
        <!-- section4-->
        <section class="bg-dark div-section"></section>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
