<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>KNU Judge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <style>
            div.title {
                position: relative;
                width: 800px;
                height: 60px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                top: 210px;
                /* background-color: blue; */
            }
            .title-text {
                width: 50px;
                height: 30px;
                display: inline;
                position: relative;
                font-weight: bold;
                font-size: 50px;
                color: white;
                top: -10px;
            }
            .bounce-red {animation: red_ 1s linear infinite alternate;}
            #N {animation-delay: 0.1s;}
            #U {animation-delay: 0.2s;}
            @keyframes red_ {
                from {color: white;}
                to { color: red;}
            }
            .btn-down {
                width: 300px;
                height: 80px;
                position: relative;
                top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
            .btn-down a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                color: white;
                position: relative;
                background-color: darkgoldenrod;
                padding: 10px 20px 10px 20px;
                border-radius: 10px 10px 10px 10px;
            }
            .btn-down a:hover {
                background-color: white;
                color: darkgoldenrod;
            }
            #section2 {
                background-color: darkgoldenrod;
            }
            .sec2_title {
                width: 1400px;
                margin-right: auto;
                margin-left: auto;
                font-size: 50px;
                color: white;
                text-align: center;
                font-weight: bold;
                position: relative;
                top: 60px;
                color: white;
            }
            .sec2_title p {
                position: relative;
                top: 20px;
                color: #212529;
                font-size: 30px;
                font-weight: 500px;
            }
            .members {
                width: 1400px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 150px;
                /* background-color: red; */
            }      
            .member {
                width: 300px;
                height: 400px;
                background-color: #212529;
                position: relative;
                border-radius: 50px;
                display: inline-block;
            }
            .member:hover {
                animation: show-mem 0.5s ease-out 1 alternate;
                top: -20px;
            }
            @keyframes show-mem {
                from { top: 0px}
                to {top: -20px}
            }
            #mem1 {
                background-image: url("/assets/images/박세찬.jpg");
                background-size: 100% 100%;
                left: 0px;
            }
            #mem2 {
                background-image: url("/assets/images/박재완.jpg");
                background-size: 100% 100%;
                left: 60px;
            }
            #mem3 {
                background-image:url("/assets/images/박정민.jpg");
                background-size: 100% 100%;
                left: 120px;
            }
            #mem4 {
                background-image: url("/assets/images/황아영.jpg");
                background-size: 100% 100%;
                left: 180px;
            }
            .member:hover .mem_text{
               opacity: 0.65;
               color:white;
               transition-duration: 0.7s;
            }
            .mem_text {
                background: black;
                opacity: 0;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                border-radius: 50px;
                text-decoration: none;
                position: absolute;
                width: 300px;
                height: 400px;
            }
            .mem_text p {
                position: relative;
                top: 90px;
            }
            #section4 {
                background-color: darkgoldenrod;
                position: relative;
                top: -40px;
            }
            ul, li {list-style:none;}
            [name="slide"] {display:none;}
            .slidebox {
                width: 1200px;
                max-height: 100%;
                margin: 40px auto;
                text-align:center;
                position: relative;
                top: 100px;
            }
            .slidebox img {max-width: 100%; width: 100%;}
            .slidebox .slidelist {
                white-space:nowrap;
                font-size:0;
                overflow:hidden;
            }
            .slidebox .slideitem {
                position:relative;
                display:inline-block;
                vertical-align:middle;
                width:100%;
                transition:all .25s ease-out;
            }

            [id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide 10s infinite forwards;}

            @keyframes slide {
                0% {left: 0%;}
                10% {left: 0%;}
                45% {left: -100%;}
                50% {left: -100%;}
                90% {left: -200%;}
                95% {left: -200%;}
                100% {left:0%;}
            }

            .section {position:relative;height:900px;}
            .run img {width:100%;}
            .run {position:absolute;z-index:1;top:50%;left:50%;transform:translate(-50%,-50%);max-width:300px;width:100%;animation:updown .5s linear infinite alternate;}
            .hand1 {position:absolute;z-index:1;top:19.7%;left:45%;width:17%;animation:hand1 1s linear infinite alternate;transform-origin:100% 10%;}
            .hand2 {position:absolute;z-index:-1;top:19.4%;left:46%;width:16%;animation:hand2 1s linear infinite alternate;transform-origin:100% 20%;}
            .foot1-1 {position:absolute;z-index:-2;top:45%;left:48.7%;width:22%;animation:foot1-1 1s linear infinite alternate;transform-origin:40% 10%;}
            .foot1-2 {position:absolute;z-index:-1;top:92%;left:60%;width:121%;animation:foot1-2 2s linear infinite;transform-origin:26% 4%;}
            .foot1-3 {position:absolute;z-index:1;bottom:0%;right:0%;width:27%;animation: toe1 2s linear infinite;transform-origin:left bottom;}
            .foot2-1 {position:absolute;z-index:-1;top:45%;left:48.7%;width:22%;animation:foot2-1 1s linear infinite alternate;transform-origin:40% 10%;}
            .foot2-2 {position:absolute;z-index:-1;top:92%;left:60%;width:121%;animation:foot2-2 2s linear infinite;transform-origin:26% 4%;}
            .foot2-3 {position:absolute;z-index:1;bottom:0%;right:0%;width:27%;animation: toe2 2s linear infinite;transform-origin:left bottom;}


            /* 키프레임 */
            @keyframes hand1{
                from {transform:rotate(0);}
                to {transform:rotate(-60deg);}
            }
            @keyframes hand2{
                from {transform:rotate(-90deg);}
                to {transform:rotate(0);}
            }
            @keyframes foot1-1{
                from {transform:rotate(50deg);}
                to {transform:rotate(0);}
            }
            @keyframes foot1-2{
                from {transform:rotate(67deg);}
                40% {transform:rotate(50deg);}
                50% {transform:rotate(0);}
                90% {transform:rotate(0);}
                to {transform:rotate(67deg);}
            }
            @keyframes toe1{
                from {transform:rotate(0deg);}
                50% {transform:rotate(0deg);}
                80% {transform:rotate(-30deg);}
                90% {transform:rotate(-30deg);}
                to {transform:rotate(0deg);}
            }
            @keyframes foot2-1{
                from {transform:rotate(0);}
                to {transform:rotate(50deg);}
            }
            @keyframes foot2-2{
                from {transform:rotate(0);}
                40% {transform:rotate(0);}
                50% {transform:rotate(67deg);}
                90% {transform:rotate(50deg);}
                to {transform:rotate(0);}
            }
            @keyframes toe2{
                from {transform:rotate(0deg);}
                30% {transform:rotate(-30deg);}
                40% {transform:rotate(-30deg);}
                50% {transform:rotate(0deg);}
                to {transform:rotate(0deg);}
            }
            @keyframes updown{
                from {margin-top:-8px;}
                to {margin-top:0;}
            }
            .road {
                /* background-color: red; */
                position: absolute;
                max-width: 1400px;
                width: 1400px;
                height: 200px;
                /* overflow: hidden; */
                left: -550px;
                border-top: 4px solid white;
                border-bottom: 4px solid white;
                top: 200px;
                animation: running-road 1.5s linear infinite forwards;
                z-index: -3;
            }
            .road div {
                width: 1400px;
                height: 20px;
                border-bottom: 3px dashed white;
                position: relative;
                top: 80px;
                /* background-color: red; */
                overflow: hidden;
            }
            @keyframes running-road {
                to {left: -600px;}
                from {left: -500px;}
            }
            .sec3-title {
                width: 1300px;
                height: 100px;
                color: #212529;
                font-size: 40px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 80px;
                font-weight: bold;
                background-color: white;
                padding-top: 10px;
                /* border: 2px solid darkgoldenrod; */
            }
            .sec3-title span {
                color: darkgoldenrod;
                font-size: 50px;
            }
            #banner-line {
                width: 100%;
                height: 20px;
                border-bottom: 2px solid white;
                position: relative;
                top: 130px;
                /* left: -55px; */
                margin-left: auto;
                margin-right: auto;
            }

            #about {
                color: white;
                font-weight: 400;
            }

        </style>
            <script src="jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
            <script src="jquery.counterup.min.js"></script>
            <script src="js/login.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); -%>

        <!-- section1-->
        <section class="bg-dark div-section">
            <div class="text-center title">
               <div class="title-text bounce-red">K</div><div class="title-text bounce-red" id="N">N</div><div class="title-text bounce-red" id="U">U</div><div class="title-text bounce-red"> </div>
               <div class="title-text"> Online Judge</div>
                
            </div>
            <div class="text-center title">
                <div class="btn-down"><a href="#section2">about "Oh!"</a></div>
             </div>

        </section>
        <!-- section2-->
        <section class="div-section" id="section2">
            <div class="sec2_title">Hover Us!
                <p>Hover it to know who we are :)</p>
            </div>
            <div class="members">
                <div class="member" id="mem1"><div class="mem_text"><p/><p/>박세찬<p/>2018112379<p/>백엔드💻<p/>Server/DB</div></div>
                <div class="member" id="mem2"><div class="mem_text"><p/><p/>박재완<p/>2018116373<p/>프론트엔드💻<p/>Home/Users</div></div>
                <div class="member" id="mem3"><div class="mem_text"><p/><p/>박정민<p/>2019112264<p/>프론트엔드💻<p/>Forms/Descriptions</div></div>
                <div class="member" id="mem4"><div class="mem_text"><p/><p/>황아영<p/>2019112953<p/>프론트엔드💻<p/>Lists/About</div></div>
            </div>
        </section>
        <!-- section3-->
        <section class="bg-dark div-section">
            <div class="section">
                <div id="banner-line"></div>
                <div class="sec3-title">Run for your <span>GOAL</span> !</div>
                <div class="run">
                    <!-- 몸전체 이미지 -->
                    <img src="/assets/images/man.png">
                    <!-- 팔 -->
                    <div class="hand1">
                        <img src="/assets/images/hand1.png">
                    </div>
                    <div class="hand2">
                        <img src="/assets/images/hand1.png">
                    </div>
                    <!-- 다리 -->
                    <div class="foot1-1">
                        <img src="/assets/images/foot1-1.png">
                        <div class="foot1-2">
                            <img src="/assets/images/foot1-2.png">
                            <div class="foot1-3">
                                <img src="/assets/images/foot1-3.png">
                            </div>
                        </div>
                    </div>
                    <div class="foot2-1">
                        <img src="/assets/images/foot2-1.png">
                        <div class="foot2-2">
                            <img src="/assets/images/foot2-2.png">
                            <div class="foot2-3">
                                <img src="/assets/images/foot2-3.png">
                            </div>
                        </div>
                    </div>
                    <div class="road"><div></div></div>  
                </div>
            </div>
            
        </section>
        <!-- section4-->
        <section class="div-section" id="section4">
            <div class="slidebox">
                <input type="radio" name="slide" id="slide01" checked>
                <input type="radio" name="slide" id="slide02">
                <input type="radio" name="slide" id="slide03">
                <ul class="slidelist">
                    <li class="slideitem">
                        <div>
                            <a><img src="/assets/images/banner1.png"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <a><img src="/assets/images/banner2.png"></a>
                        </div>
                    </li>
                    <li class="slideitem">
                        <div>
                            <a><img src="/assets/images/banner3.png"></a>
                        </div>
                    </li>
                </ul>
        </section>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
