<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>COMMUNITY SUBMIT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/comsub.css" rel="stylesheet" />
    <script src="jquery-3.6.0.min.js"></script>
    <script>
        function request() {
            const title = document.getElementById("com_title").value;
            const cont = document.getElementById("content").value;
            const obj = { Title: title, Body: cont };
            $.ajax({
                type: 'POST',
                url: "http://localhost:3001/post",
                accepts: "application/json",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert("글이 작성되었습니다.");
                        window.open('/community_list', '_self')
                    }
                    else {
                        alert("작성오류");
                    }
                },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                },
                beforeSend: function (xhr) {
                    /* Authorization header */
                    xhr.setRequestHeader("Authorization", "bearer " + localStorage.getItem("token"));

                }
            });

        }
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    <%- include('layouts/navbar'); -%>
    </br>
    <h2>&nbsp; 게시판 글쓰기</h2>
    <hr>
    <!--table-->
    <form>
        <table class="submit_table">
            <tr>
                <td>
                    <h4>제목</h4>
                </td>
                <td colspan="5" id="title">
                <input size="100px" type="text" id="com_title" value="">
                </td>
            </tr>
        </table>
        </br>
        <div>
            <div><textarea class="detail" id="content" value="" placeholder="내용을 입력해주세요."></textarea></br></div>
        </div>
        </br>
        <div class="wrap">
            <button type="button" class="button" onclick="request()">Add</button>
        </div>
    </br>
    </form>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>