<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KNU Judge</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/prosub.css" rel="stylesheet" />
    <script>
        function textarea_tab(ob) {
            if (event.keyCode == 9) {
                ob.focus();
                space = "    ";
                ob.selection = document.selection.createRange();
                ob.selection.text = space;
                event.returnValue = false;
            }
        }
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">KNU Online Judge</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/problem_list">문제</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ranking">순위</a></li>
                    <li class="nav-item"><a class="nav-link" href="/community_list">게시판</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">소개</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </br>
    <h2>&nbsp; 문제 출제하기</h2>
    <hr></br>
    <table class="submit_table">
        <tr>
            <td>
                <h4>제목</h4>
            </td>
            <td colspan="5" value="pro_title">
                <input size="100px" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <h5>난이도&nbsp;&nbsp;
            </td>
            <td colspan="5">
                <input type="radio" name="level" value="high">&nbsp;high&nbsp;&nbsp;
                <input type="radio" name="level" value="middle">&nbsp;middle&nbsp;&nbsp;
                <input type="radio" name="level" value="low">&nbsp;low</h5>
            </td>
        </tr>
    </table>
    </br>
    <div>
        <div><textarea onkeydown="textarea_tab(this)" class="detail" value="pro_content"
                placeholder="문제를 입력해주세요."></textarea></br></div>
    </div>
    <div>
        <h5 class="header">&nbsp 입력</h5>
        <hr>
        <div><textarea onkeydown="textarea_tab(this)" class="case" 
            value="pro_input"></textarea></br></div>
    </div>
    <div>
        <h5 class="header">&nbsp 출력</h5>
        <hr>
        <div><textarea onkeydown="textarea_tab(this)" class="case" 
            value="pro_output"></textarea></br></div>
    </div>
    <div>
        <h5 class="header">&nbsp 알고리즘 분류</h5>
        <hr>
        <div><textarea onkeydown="textarea_tab(this)" class="case" 
            value="pro_sort"></textarea></br></div>
    </div>
    <div class="wrap">
        <button type="submit" class="button" id="submit_pro">Add</button>
    </div>
    </br>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>